<div class="list-group">
  <a class="list-group-item list-group-item-action">Kategorie</a>

  <a routerLink="/articles" class="list-group-item list-group-item-action list-group-item-primary">Biznes</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Rozrywka</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Ogólne</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Zdrowie</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Nauka</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Sport</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Technologia</a>
</div>
